<% action_url = (action == :new ? songs_url : song_url(@song)) %>
<% button_value = (action == :new ? "Make a New Song" : "Edit this Song") %>
<form action=<%= action_url  %> method="post">
  <%= auth_token %>
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="text" name="song[title]" value="<%= @song.title %>">
  <br>
  <textarea name="song[lyrics]" value="<%= @song.lyrics %>"> </textarea>
  <br>
  <select name="song[recording_id]">
    <% current_user.recordings.each do |recording| %>
      <% selected = (@song.id == recording.id ? "selected" : "") %>
      <option value="<%= recording.id %>" <%= selected %>>


        <%= recording.title %>  (<%= recording.recording_type %>)
      </option>
    <% end %>
  </select>
  <br>
  <input type="submit" value="<%= button_value %>">

</form>
