<div class="containerForAdd group">
<button class="addPlaylist">
    Add a new playlist
</button>
</div>

<% playlists.each(function(playlist){ %>
    <a href="#/playlists/<%= playlist.escape('id') %>">
      <%= playlist.escape('title') %>
      (<%= playlist.escape('status') %>)

    </a>
      <button class="destroyPlaylist" data-playlist-id="<%= playlist.id %>">
        X
      </button>

    <ul class="playlistsongs<%= playlist.escape('id') %>">
    </ul>


<%  }) %>
