<ul class="song">


    <li class="songartist"> <%= song.user().escape("username") %> </li>

    <li class="songtitle"><%= song.escape("title") %> </li>

    <li class="songuploaded"><%= song.escape("upload_time") %> </li>

    <li class="songrecording"><%= song.recording().escape("title") %> </li>

    <button class="playSong">
      >
    </button>

    <audio src="<%= song.escape('audio_url') %>" id="Audio">
    </audio>

    <% if (song.escape('liked') === "notliked") { %>
      <button class="likeSong button" data-song-id="<%= song.id %>">
        &hearts;
      </button>
    <% } else { %>
      <button class="unlikeSong button" data-song-id="<%= song.id %>">
        &hearts;
      </button>
    <% } %>
      <button class="addToPlaylist button" data-song-id="<%= song.id %>">
        +
      </button>
    <div class="playlistformContainer addPlaylistForm<%= song.id %>">
    </div>

    <div class="containerAddPlaylist<%= song.id %>">
    </div>

    <div class="timeLeft">

    </div>
    <div class="renderer">
      <div id="bars" class="area"></div>
    </div>

    <% if (Sonido.currentUser.isSignedIn() && Sonido.currentUser.uploads().findWhere({id: song.id})){ %>
    <button class="destroySong button" data-id="<%= song.escape('id') %>">
      Delete Song
    </button>
    <% } %>

</ul>
