<% songs.each(function(song){ %>
  <ul class="popular-song-section">
    <li class="song-title">
      <a href="#/songs/<%= song.escape('id')  %>">
        <%= song.escape('title') %>
      </a>
    </li>
    <li class="song-attribute">
      <a href="#/recordings/<%= song.recording().escape('id') %>">
        <%= song.recording().escape('title')%>
      </a>
    </li>

    <li class="song-attribute">
      <a href="#/users/<%= song.user().escape('id') %>">
        <%= song.user().escape('username') %>
      </a>
    </li>

    <li class="song-attribute">
      <a href="#/songs/<%= song.escape('id') %>">
        See Lyrics!!
        <%= song.escape('lyrics') %>
      </a>
    </li>

    <% if (song.escape('liked') === "notliked") { %>
      <button class="likeSong button" data-song-id="<%= song.id %>">
        &hearts;
      </button>
    <% } else { %>
      <button class="unlikeSong button" data-song-id="<%= song.id %>">
        &hearts;
      </button>
    <% } %>

    <div class="containerAddPlaylist">
    <button class="addToPlaylist" data-song-id="<%= song.id %>">
      +
    </button>
    </div>

  </ul>
  <%  }); %>
