<!DOCTYPE html>
<html>
<head>
  <title>Sonido</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/errors" %>

<% if signed_in? %>
  <section class="sidebar">
    <ul class="sidebarlinks">
      <li class="sidebarlink">
        <a href="#"> Playlists </a>
      </li>
      <li class="sidebarlink">
        <a href="<%= user_url(current_user) %>"> Tracks </a>
      </li>
      <li class="sidebarlink">
        <a href="<%= edit_user_url(current_user) %>"> Change settings </a></li>
      </li>
    </ul>

  </section>

  <nav class="navbar">
    <ul class="userinfo">

      <li> Welcome! <%= current_user.username %></li>

    </ul>

    <form action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out!" class="logout">
    </form>
  </nav>
<% end %>

<%= yield %>
</body>
</html>
