<!DOCTYPE html>
<html>
<head>
  <title>Sonido</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/errors" %>

<% if signed_in? %>
  <nav class="navbar">
    <ul class="userinfo">

      <li> Welcome! <%= current_user.username %></li>

      <% if current_user.account_type == "artist" %>
        <%= button_to "Release a New Album, EP or Single", new_recording_url, method: :get %>
        <%= button_to "View Your Uploads", recordings_url, method: :get %>
      <% end %>
    </ul>

    <form action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out!" class="logout">
    </form>
  </nav>
<% end %>

<%= yield %>
</body>
</html>
